a {
    text-decoration: none; /* Removes underline */
    color: inherit;       /* Inherits color from parent */
    border: none;         /* Removes any borders */
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header size, flexible content, footer size */
  height: 100vh;
}