a {
    text-decoration: none; /* Removes underline */
    color: inherit;       /* Inherits color from parent */
    border: none;         /* Removes any borders */
}

.min-vh-82{
    min-height: 82.2vh;
}