a {
  text-decoration: none !important;
  color: inherit !important;
  border: none !important;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.blogContent{
  font-size: 20px
}

.blogContent a{
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.blogContent img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

@media only screen and (max-width: 765px){
.blogContent img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
}

.blogContent blockquote {
  padding-left: 1rem;
  border-left: 2px solid grey;
}

.tiptap.ProseMirror {
  margin-top: 20px;
  border: solid grey;
  border-radius: 10px;
  padding: 1em;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.image-text {
  display: block;
  padding: 5px 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
